aiohttp==3.5.4
aiohttp-graphql==1.0.0
aniso8601==6.0.0
async-timeout==3.0.1
attrs==19.1.0
chardet==3.0.4
graphene==2.1.6
graphql-core==2.2
graphql-relay==0.4.5
graphql-server-core==1.1.1
idna==2.8
multidict==4.5.2
promise==2.2.1
pytest-runner==5.1
Rx==1.6.1
six==1.12.0
yarl==1.3.0
